Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-06, with the labels that each got.

#1602 models-update-logs-2019-06-09-15-00
  AWSLogs/AWSLogsModel.h
  AWSLogs/AWSLogsResources.m
  AWSLogs/AWSLogsService.h
Labels: CloudWatch Logs, Pull Request

#1601 models-update-email-2019-06-09-15-00
  AWSSES/AWSSESModel.h
  AWSSES/AWSSESModel.m
  AWSSES/AWSSESResources.m
  AWSSES/AWSSESService.h
  AWSSES/AWSSESService.m
  AWSSESUnitTests/AWSGeneralSESTests.m
Labels: Pull Request, SES

#1600 models-update-ec2-2019-06-09-15-00
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  AWSEC2/AWSEC2Service.h
Labels: EC2, Pull Request

#1599 models-update-dynamodb-2019-06-09-15-00
  AWSDynamoDB/AWSDynamoDBModel.h
  AWSDynamoDB/AWSDynamoDBResources.m
Labels: DynamoDB, Pull Request

#1604 Update config.yml
  .circleci/config.yml
Labels: Infrastructure, Pull Request

#1618 models-update-ec2-2019-06-23-15-00
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  CHANGELOG.md
Labels: Core, Pull Request

#1610 Adding SageMakerRuntime API
  AWSCore/Serialization/AWSSerialization.m
  AWSCore/Service/AWSService.m
  AWSCore/Service/AWSServiceEnum.h
  AWSCoreTests/AWSTestUtility.h
  AWSCoreTests/AWSTestUtility.m
  AWSSageMakerRuntime.podspec
  AWSSageMakerRuntime/AWSSageMakerRuntime.h
  AWSSageMakerRuntime/AWSSageMakerRuntimeModel.h
  AWSSageMakerRuntime/AWSSageMakerRuntimeModel.m
  AWSSageMakerRuntime/AWSSageMakerRuntimeResources.h
  AWSSageMakerRuntime/AWSSageMakerRuntimeResources.m
  AWSSageMakerRuntime/AWSSageMakerRuntimeService.h
  AWSSageMakerRuntime/AWSSageMakerRuntimeService.m
  AWSSageMakerRuntime/Info.plist
  AWSSageMakerRuntimeTests/AWSSageMakerRuntimeTests-Bridging-Header.h
  AWSSageMakerRuntimeTests/AWSSageMakerRuntimeTests.swift
  AWSSageMakerRuntimeTests/AWSSageMakerTests-Bridging-Header.h
  AWSSageMakerRuntimeTests/Info.plist
  AWSSageMakerRuntimeUnitTests/AWSGeneralSageMakerRuntimeTests.m
  AWSSageMakerRuntimeUnitTests/Info.plist
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSAllTests.xcscheme
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSSageMakerRuntime.xcscheme
Labels: Pull Request, SageMaker

#1630 models-update-pinpoint-2019-06-30-15-00
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingModel.h
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingResources.m
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingService.h
Labels: Pinpoint, Pull Request
