Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-01, with the labels that each got.

#1160 Update config.yml
  .circleci/config.yml
Labels: Infrastructure, pull request

#1176 Return error in `submitRecordsForStream:...` when `putRecord:` errors
  AWSKinesis/AWSFirehoseRecorder.m
Labels: Kinesis, pull request, reviewing

#1202 Fix memory leaks in MQTT client
  AWSIoT/Internal/AWSIoTMQTTClient.h
  AWSIoT/Internal/AWSIoTMQTTClient.m
Labels: IoT
