Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-07, with the labels that each got.

#1628 models-update-dynamodb-2019-06-30-15-00
  AWSDynamoDB/AWSDynamoDBModel.h
  AWSDynamoDB/AWSDynamoDBResources.m
  AWSDynamoDB/AWSDynamoDBService.h
Labels: EC2, Pull Request

#1247 AWSKinesis - fix modular imports
  AWSKinesis/AWSAbstractKinesisRecorder.m
  AWSKinesis/AWSFirehoseRecorder.m
  AWSKinesis/AWSKinesisRecorder.m
  AWSKinesis/Internal/AWSGZIPEncodingJSONRequestSerializer.h
Labels: Kinesis, Pull Request

#1631 Test cleanup & port to new roles/resources
  AWSAPIGatewayTests/AWSAPIGatewayInvokeTest.swift
  AWSAPIGatewayTests/AWSLambdaMicroserviceClient.h
  AWSAPIGatewayTests/AWSLambdaMicroserviceClient.m
  AWSAPIGatewayTests/AWSStringValue.h
  AWSAPIGatewayTests/AWSStringValue.m
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
  AWSCognitoTests/AWSCognitoClientTest.m
  AWSCognitoTests/AWSCognitoSyncServiceTests.m
  AWSCognitoTests/CognitoTestUtils.h
  AWSCognitoTests/CognitoTestUtils.m
  AWSComprehendTests/AWSComprehendTests.swift
  AWSCore/Authentication/AWSSignature.m
  AWSCoreTests/AWSCognitoCredentialsProviderTests.m
  AWSDynamoDBTests/AWSDynamoDBTests.m
  AWSKinesisVideoTests/AWSKinesisVideoTests.swift
  AWSLambdaTests/AWSLambdaInvokerTests.m
  AWSLambdaTests/AWSLambdaTests.m
  AWSMachineLearning/AWSMachineLearningService.m
  AWSMobileAnalyticsLegacyTests/AZIOSClientContextTests.m
  AWSRekognitionTests/AWSRekognitionTests.swift
  AWSS3Tests/AWSS3PreSignedURLBuilderTests.m
  AWSS3Tests/AWSS3Tests.m
  AWSSESTests/AWSSESTests.m
  AWSSNSTests/AWSSNSTests.m
  AWSSQSTests/AWSSQSTests.m
  AWSSageMakerRuntimeTests/AWSSageMakerRuntimeTests.swift
  AWSSimpleDBTests/AWSSimpleDBTests.m
  AWSTranscribeTests/AWSTranscribeTests.swift
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  AWSiOSSDKv2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSLex.xcscheme
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSLogs.xcscheme
  CHANGELOG.md
Labels: Pull Request, Tests

#1632 Fix AWSCognitoCredentialsProviderTests unauth failure tests
  AWSCoreTests/AWSCognitoCredentialsProviderTests.m
Labels: Pull Request, Tests

#1627 Fail multipart upload if the temp file is missing
  AWSS3/AWSS3TransferUtility.m
  AWSS3UnitTests/AWSS3TransferUtilityUnitTests.m
  AWSiOSSDKv2.xcodeproj/project.pbxproj
Labels: Pull Request, S3

#1634 Changelog for AWS Sagemaker and S3 bug fix
  CHANGELOG.md
Labels: Pull Request, S3, SageMaker

#1540 Fix cross-module include files to properly use framework prefixes
  AWSCognitoIdentityProvider/AWSCognitoIdentityUserPool.m
  AWSCognitoIdentityProvider/Internal/AWSCognitoIdentityProviderSrpHelper.m
  AWSS3/AWSS3TransferUtility.m
  AWSiOSSDKv2.xcodeproj/project.pbxproj
Labels: Core, Pull Request

#1647 Update CHANGELOG
  CHANGELOG.md
Labels: Pull Request

#1659 [ec2] Update models to latest
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  AWSEC2/AWSEC2Service.h
  AWSEC2/AWSEC2Service.m
  AWSEC2UnitTests/AWSGeneralEC2Tests.m
Labels: EC2, Pull Request

#1660 [kinesisvideo] Update models to latest
  AWSKinesisVideo/AWSKinesisVideoModel.h
  AWSKinesisVideo/AWSKinesisVideoModel.m
  AWSKinesisVideo/AWSKinesisVideoResources.m
Labels: KinesisVideo

#1661 Update CHANGELOG
  CHANGELOG.md
Labels: Documentation, Pull Request

#1270 Added message string property to AWSMobileClientError
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileResults.swift
Labels: AWSMobileClient, Pull Request

#1663 Fix SDK Version for Amazon Connect
  AWSConnect/AWSConnectService.m
Labels: Pull Request

#1642 [AWSMobileClient] Add test for GetIdentityID
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
Labels: AWSMobileClient, Pull Request

#1675 Update CHANGELOG
  CHANGELOG.md
Labels: Documentation, Pull Request

#1685 Polly integration tests for supported language/voice combos
  AWSMobileAnalytics/Internal/AWSMobileAnalyticsSDKInfo.m
  AWSPolly/AWSPollySynthesizeSpeechURLBuilder.m
  AWSPollyTests/AWSPollyTests.m
  CHANGELOG.md
Labels: Polly, Pull Request, Tests

#1688 Fix the default value of batchRecordsByteLimit
  AWSKinesis/AWSAbstractKinesisRecorder.m
Labels: Kinesis, Pull Request

#1696 Update CHANGELOG
  CHANGELOG.md
Labels: Documentation, Pull Request

#1702 Added support for me-south-1 Middle East South (Bahrain)
  AWSCore/Service/AWSService.m
  AWSCore/Service/AWSServiceEnum.h
  AWSCore/Utility/AWSCategory.m
  AWSS3/AWSS3Model.h
  AWSS3/AWSS3Model.m
  AWSS3/AWSS3Resources.m
  CHANGELOG.md
Labels: Core, Pull Request
