Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-05, with the labels that each got.

#1518 Swift 5/Xcode 10.2 compatibility
  AWSDynamoDBTests/AWSDynamoDBObjectMapperSwiftTests.swift
  AWSIoTTests/AWSIoTDataManagerTests.swift
  AWSKinesisUnitTests/AWSGZIPTestHelper.h
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  CHANGELOG.md
Labels: Build, Core

#1563 models-update-transcribe-2019-05-19-15-00
  AWSTranscribe/AWSTranscribeModel.h
  AWSTranscribe/AWSTranscribeModel.m
  AWSTranscribe/AWSTranscribeResources.m
Labels: Pull Request, Transcribe

#1560 models-update-comprehend-2019-05-19-15-00
  AWSComprehend/AWSComprehendModel.h
  AWSComprehend/AWSComprehendModel.m
  AWSComprehend/AWSComprehendResources.m
Labels: Comprehend, Pull Request

#1562 models-update-lambda-2019-05-19-15-00
  AWSLambda/AWSLambdaModel.h
  AWSLambda/AWSLambdaModel.m
  AWSLambda/AWSLambdaResources.m
Labels: Lambda, Pull Request

#1561 models-update-ec2-2019-05-19-15-00
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  AWSEC2/AWSEC2Service.h
Labels: EC2, Pull Request

#1559 models-update-cognito-idp-2019-05-19-15-00
  AWSCognitoIdentityProvider.podspec
Labels: Cognito, Pull Request

#1573 models-update-ec2-2019-05-26-15-00
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  AWSEC2/AWSEC2Service.h
  AWSEC2/AWSEC2Service.m
  AWSEC2UnitTests/AWSGeneralEC2Tests.m
Labels: EC2, Pull Request

#1577 Cleanup simulator references & startup commands
  .circleci/config.yml
  CircleciScripts/run_unittest_bundle.sh
  CircleciScripts/run_unittests.sh
Labels: Build, Infrastructure, Pull Request

#1580 Use device ID instead of name to fix destinationspecifier
  .circleci/config.yml
  CircleciScripts/run_unittests.sh
Labels: Build, Infrastructure, Pull Request

#1582 Fix integ test credential creation workflow
  .circleci/config.yml
Labels: Build, Infrastructure, Pull Request

#1584 Use Xcode 10.2.1 for ui tests
  .circleci/config.yml
Labels: Pull Request, Tests

#1587 Fix simulator startup
  .circleci/config.yml
  CircleciScripts/pre_start_simulator.sh
Labels: Build, Infrastructure, Pull Request
