Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-04, with the labels that each got.

#1385 merge develop to master
  AWSAutoScaling/AWSAutoScalingModel.h
  AWSAutoScaling/AWSAutoScalingResources.m
  AWSAutoScaling/AWSAutoScalingService.h
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderModel.h
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderModel.m
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderResources.m
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderService.h
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderService.m
  AWSCognitoIdentityProviderUnitTests/AWSGeneralCognitoIdentityProviderTests.m
  AWSComprehend/AWSComprehendModel.h
  AWSComprehend/AWSComprehendModel.m
  AWSComprehend/AWSComprehendResources.m
  AWSComprehend/AWSComprehendService.h
  AWSComprehend/AWSComprehendService.m
  AWSCore/CognitoIdentity/AWSCognitoIdentityModel.h
  AWSCore/CognitoIdentity/AWSCognitoIdentityModel.m
  AWSCore/CognitoIdentity/AWSCognitoIdentityResources.m
  AWSCore/CognitoIdentity/AWSCognitoIdentityService.h
  AWSCore/CognitoIdentity/AWSCognitoIdentityService.m
  AWSCoreUnitTests/AWSGeneralCognitoIdentityTests.m
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
  AWSEC2/AWSEC2Service.h
  AWSEC2/AWSEC2Service.m
  AWSEC2UnitTests/AWSGeneralEC2Tests.m
  AWSIoT/AWSIoTModel.h
  AWSIoT/AWSIoTModel.m
  AWSIoT/AWSIoTResources.m
  AWSIoT/AWSIoTService.h
  AWSIoT/AWSIoTService.m
  AWSIoTUnitTests/AWSGeneralIoTTests.m
  AWSKinesisVideo/AWSKinesisVideoModel.h
  AWSKinesisVideo/AWSKinesisVideoResources.m
  AWSLex/AWSLexModel.h
  AWSLex/AWSLexModel.m
  AWSLex/AWSLexResources.m
  AWSLex/AWSLexService.h
  AWSLogs/AWSLogsModel.h
  AWSLogs/AWSLogsResources.m
  AWSLogs/AWSLogsService.h
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargeting.h
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingModel.h
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingModel.m
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingResources.m
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingService.h
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingService.m
  AWSPinpointUnitTests/AWSGeneralPinpointTargetingTests.m
  AWSRekognition/AWSRekognitionResources.m
  AWSRekognition/AWSRekognitionService.h
  AWSTranscribe/AWSTranscribeModel.h
  AWSTranscribe/AWSTranscribeModel.m
  AWSTranscribe/AWSTranscribeResources.m
  CircleciScripts/run_unittest_bundle.sh
Labels: Pull Request

#1377 fixed bug in sharedInstance :: AWSMobileClient
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClient.swift
Labels: AWSMobileClient, Bug, Pull Request, Reviewing

#1435 Fix installation by carthage
  README.md
Labels: Documentation, Pull Request

#1327 fixed 'Build' typo in Readme
  README.md
Labels: Documentation, Pull Request

#1316 Fixed TransferUtility bug in error propagation for downloads
  AWSS3/AWSS3TransferUtility.m
  CHANGELOG.md
Labels: Pull Request, S3

#1444 Use serial database connection for Kinesis (#1161)
  AWSKinesis/AWSAbstractKinesisRecorder.m
  CHANGELOG.md
Labels: Kinesis, Pull Request

#1470 Make plist output conform to Xcode standard
  CircleciScripts/bump_sdk_version.py
Labels: Build, Pull Request

#1471 No-op bump-version to make Info.plist files conform to Xcode standard
  AWSAPIGateway/Info.plist
  AWSAuthCore.podspec
  AWSAuthSDK/Sources/AWSAuthCore/Info.plist
  AWSAuthSDK/Sources/AWSAuthUI/Info.plist
  AWSAuthSDK/Sources/AWSFacebookSignIn/Info.plist
  AWSAuthSDK/Sources/AWSGoogleSignIn/Info.plist
  AWSAuthSDK/Sources/AWSMobileClient/Info.plist
  AWSAuthSDK/Sources/AWSUserPoolsSignIn/Info.plist
  AWSAutoScaling/Info.plist
  AWSCloudWatch/Info.plist
  AWSCognito/Info.plist
  AWSCognitoAuth/Info.plist
  AWSCognitoIdentityProvider/Info.plist
  AWSComprehend/Info.plist
  AWSCore/Info.plist
  AWSDynamoDB/Info.plist
  AWSEC2/Info.plist
  AWSElasticLoadBalancing/Info.plist
  AWSIoT/Info.plist
  AWSKMS/Info.plist
  AWSKinesis/Info.plist
  AWSKinesisVideo/Info.plist
  AWSKinesisVideoArchivedMedia/Info.plist
  AWSLambda/Info.plist
  AWSLex/Info.plist
  AWSLogs/Info.plist
  AWSMachineLearning/Info.plist
  AWSMobileAnalytics/Info.plist
  AWSPinpoint/Info.plist
  AWSPolly/Info.plist
  AWSRekognition/Info.plist
  AWSS3/Info.plist
  AWSSES/Info.plist
  AWSSNS/Info.plist
  AWSSQS/Info.plist
  AWSSimpleDB/Info.plist
  AWSTranscribe/Info.plist
  AWSTranslate/Info.plist
Labels: Build, Pull Request

#1433 by pass test in master by default
  .circleci/config.yml
Labels: Build, Pull Request

#1491 models-update-cognito-idp-2019-04-22-17-18
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderModel.h
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderResources.m
Labels: Cognito, Pull Request

#1499 Added support for ap-east-1 'Asia Pacific (Hong Kong)' region
  AWSCore/Service/AWSService.m
  AWSCore/Service/AWSServiceEnum.h
  AWSCore/Utility/AWSCategory.m
  AWSS3/AWSS3Model.h
  AWSS3/AWSS3Model.m
  AWSS3/AWSS3Resources.m
  CHANGELOG.md
Labels: Core, Pull Request

#1508 models-update-ec2-2019-04-29-16-08
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
Labels: EC2, Pull Request

#1507 models-update-dynamodb-2019-04-29-16-08
  AWSDynamoDB/AWSDynamoDBModel.h
  AWSDynamoDB/AWSDynamoDBModel.m
  AWSDynamoDB/AWSDynamoDBResources.m
  AWSDynamoDB/AWSDynamoDBService.h
Labels: DynamoDB, Pull Request

#1509 models-update-lambda-2019-04-29-16-08
  AWSLambda/AWSLambdaModel.h
  AWSLambda/AWSLambdaModel.m
  AWSLambda/AWSLambdaResources.m
  AWSLambda/AWSLambdaService.h
  AWSLambda/AWSLambdaService.m
  AWSLambdaUnitTests/AWSGeneralLambdaTests.m
Labels: Lambda, Pull Request
