Repository aws-amplify/aws-sdk-ios, pull requests merged in 2019-08, with the labels that each got.

#1709 Call out runtime overrides of awsconfiguration values
  AWSAuthSDK/AWSAuthSDKTestApp/ViewController.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileOptions.swift
Labels: AWSMobileClient, Documentation, Pull Request

#1714 [polly] Update models to latest
  AWSPolly/AWSPollyModel.h
  AWSPolly/AWSPollyModel.m
  AWSPolly/AWSPollyResources.m
  AWSPolly/AWSPollyService.h
  AWSPolly/AWSPollyService.m
Labels: Polly, Pull Request

#1718 Fix for S3 integration test
  AWSS3Tests/AWSS3TestHelper.h
  AWSS3Tests/AWSS3TestHelper.m
  AWSS3Tests/AWSS3TransferUtilityTests.swift
Labels: S3

#1722 Release VC after CognitoAuth getSession
  AWSCognitoAuth/AWSCognitoAuth.h
  AWSCognitoAuth/AWSCognitoAuth.m
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  CHANGELOG.md
Labels: Cognito, Pull Request

#1727 Fix region in IoT DataManager test config
  AWSIoTTests/AWSIoTDataManagerTests.swift
Labels: IoT, Pull Request, Tests

#1729 [ec2] Update models to latest
  AWSEC2/AWSEC2Model.h
  AWSEC2/AWSEC2Model.m
  AWSEC2/AWSEC2Resources.m
Labels: EC2, Pull Request

#1726 Check task before adding error in signout
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  CHANGELOG.md
Labels: AWSMobileClient, Pull Request

#1721 Sign in callback invoked before all sign in operations
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClient.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
  CHANGELOG.md
Labels: AWSMobileClient, Bug

#1735 Fix signOut callback
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
  CHANGELOG.md
Labels: AWSMobileClient

#1741 Cleaning up AWSMobileClient code
  AWSAuthSDK/AWSAuthSDK.xcodeproj/project.pbxproj
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileResults.swift
  AWSAuthSDK/Sources/AWSMobileClient/DeviceOperations.swift
  AWSAuthSDK/Sources/AWSMobileClient/Internal/JSONHelper.swift
Labels: AWSMobileClient, Pull Request

#1746 Fixed podspec for mobile client and made JSONHelper internal
  AWSAuthSDK/Sources/AWSMobileClient/Internal/JSONHelper.swift
  AWSMobileClient.podspec
Labels: AWSMobileClient, Pull Request

#1744 Moved AWSMobileClient test to dedicated use cases
  AWSAuthSDK/AWSAuthSDK.xcodeproj/project.pbxproj
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientBaseTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientCredentialsTest.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientDeviceTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientPasswordTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientSignoutTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientUserAttributeTests.swift
  CHANGELOG.md
Labels: AWSMobileClient, Pull Request

#1779 Add listener callback in signIn method
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
Labels: AWSMobileClient, Pull Request

#1808 Palpatim/revert url string model updates
  AWSAutoScaling/AWSAutoScalingService.m
  AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderService.m
  AWSComprehend/AWSComprehendService.m
  AWSConnect/AWSConnectService.m
  AWSCore/CognitoIdentity/AWSCognitoIdentityService.m
  AWSCore/STS/AWSSTSService.m
  AWSDynamoDB/AWSDynamoDBService.m
  AWSEC2/AWSEC2Service.m
  AWSElasticLoadBalancing/AWSElasticLoadBalancingService.m
  AWSIoT/AWSIoTDataService.m
  AWSIoT/AWSIoTService.m
  AWSKMS/AWSKMSService.m
  AWSKinesis/AWSFirehoseService.m
  AWSKinesisVideo/AWSKinesisVideoService.m
  AWSLambda/AWSLambdaService.m
  AWSLex/AWSLexService.m
  AWSLogs/AWSLogsService.m
  AWSPinpoint/AWSPinpointTargeting/AWSPinpointTargetingService.m
  AWSPolly/AWSPollyService.m
  AWSRekognition/AWSRekognitionModel.h
  AWSRekognition/AWSRekognitionResources.m
  AWSRekognition/AWSRekognitionService.h
  AWSRekognition/AWSRekognitionService.m
  AWSSES/AWSSESService.m
  AWSSNS/AWSSNSService.m
  AWSSQS/AWSSQSModel.h
  AWSSQS/AWSSQSModel.m
  AWSSQS/AWSSQSResources.m
  AWSSQS/AWSSQSService.h
  AWSSQS/AWSSQSService.m
  AWSSageMakerRuntime/AWSSageMakerRuntimeService.m
  AWSSimpleDB/AWSSimpleDBService.m
  AWSTranscribe/AWSTranscribeService.m
  AWSTranslate/AWSTranslateService.m
  CHANGELOG.md
Labels: Core, Pull Request

#1811 AWSMobileClient moved the user attributes to separate class
  AWSAuthSDK/AWSAuthSDK.xcodeproj/project.pbxproj
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileResults.swift
  AWSAuthSDK/Sources/AWSMobileClient/Internal/AWSMobileClientUserDetails.swift
Labels: AWSMobileClient, Pull Request

#1743 fix #1680 by adding the service limit to the batch submit
  AWSPinpoint/AWSPinpointEventRecorder.h
  AWSPinpoint/AWSPinpointEventRecorder.m
  AWSPinpointTests/AWSPinpointEventRecorderTests.m
  CHANGELOG.md
Labels: Pinpoint, Pull Request

#1815 Separated signIn and confirmSignIn callback
  AWSAuthSDK/AWSAuthSDK.xcodeproj/project.pbxproj
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSUserPoolOperationsHandler.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientSignInTests.swift
  AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift
  AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m
Labels: AWSMobileClient, Pull Request
