Repository aws-amplify/aws-sdk-ios, pull requests merged in 2020-01, with the labels that each got.

#2209 Pass clientMetaData in respondAuthChallenge
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m
  AWSCognitoIdentityProvider/AWSCognitoIdentityUserPool.h
Labels: AWSMobileClient, Cognito, Pull Request

#2163 Transcribe Streaming Update to Receive Any Web Socket Provider
  AWSTranscribeStreaming/AWSTranscribeStreamingService.h
  AWSTranscribeStreaming/AWSTranscribeStreamingService.m
  AWSTranscribeStreaming/Internal/AWSSRWebSocket+TranscribeStreaming.h
  AWSTranscribeStreaming/Internal/AWSSRWebSocketAdaptor.h
  AWSTranscribeStreaming/Internal/AWSSRWebSocketAdaptor.m
  AWSTranscribeStreaming/Internal/AWSSRWebSocketDelegateAdaptor.m
  AWSTranscribeStreaming/Internal/AWSTranscribeStreamingWebSocketProvider.h
  AWSTranscribeStreamingUnitTests/AWSTranscribeStreamingClientWebSocketProviderTests.swift
  AWSTranscribeStreamingUnitTests/AWSTranscribeStreamingUnitTests-Bridging-Header.h
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  CHANGELOG.md
Labels: Pull Request, Transcribe

#2213 Pass the challenge params in customAuth to callback
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  AWSAuthSDK/Sources/AWSMobileClient/AWSUserPoolOperationsHandler.swift
  AWSAuthSDK/Tests/AWSMobileClientCustomAuthTests/AWSMobileClientCustomAuthTests.swift
  CHANGELOG.md
Labels: AWSMobileClient

#2217 Added AWSTranscribeStreamingWebSocketProvider to umbrella header
  AWSTranscribeStreaming/AWSTranscribeStreaming.h
  AWSTranscribeStreaming/AWSTranscribeStreamingWebSocketProvider.h
  AWSiOSSDKv2.xcodeproj/project.pbxproj
Labels: Pull Request, Transcribe

#2227 Expose Transcribe Streaming Decoder File To External Web Socket Providers
  AWSTranscribeStreaming/AWSTranscribeStreaming.h
  AWSTranscribeStreaming/AWSTranscribeStreamingEventDecoder.h
  AWSTranscribeStreaming/AWSTranscribeStreamingEventDecoder.m
  AWSiOSSDKv2.xcodeproj/project.pbxproj
Labels: Pull Request, Transcribe

#2239 Palpatim/iot bad passphrase crash
  AWSIoT/AWSIoTManager.m
  AWSIoTTests/AWSIoTManagerTests.m
  AWSIoTTests/Resources/test-identity-password-is-abc123.p12
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  CHANGELOG.md
Labels: IoT, Pull Request

#2248 Fix path to generate_documentation in bump_sdk_version script
  CircleciScripts/bump_sdk_version.py
Labels: Build, Pull Request

#2265 Clear CustomAuthChallenge Task on SignOut
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  CHANGELOG.md
Labels: AWSMobileClient, Pull Request
