Repository aws-amplify/aws-sdk-ios, pull requests merged in 2020-08, with the labels that each got.

#2899 chore: Update API doc for user attribute methods
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
Labels: AWSMobileClient, Documentation, Pull Request

#2868 Replace block type alias borrowed from AVAudioSession with block sign…
  AWSLex/AWSLexInteractionKit.h
  AWSLex/AWSLexInteractionKit.m
Labels: Build, Lex

#2949 chore(IoT): Stop multiple threads from entering CR while connecting
  AWSIoT/Internal/AWSIoTMQTTClient.m
Labels: IoT

#2948 fix(AWSMobileClient): Federated SignIn completion handler is assigned before status change is issued
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
  CHANGELOG.md
Labels: AWSMobileClient

#2953 chore: Remove Carthage version from setup
  README.md
Labels: Documentation, Pull Request

#2957 chore(IoT): Cleanup toDecoderStream delegate and runloop
  AWSIoT/Internal/AWSIoTMQTTClient.m
Labels: IoT

#2964 chore: Deprecate MD5 APIs; document remaining usage
  AWSCore/Utility/AWSCategory.h
  AWSKinesis/AWSAbstractKinesisRecorder.m
  AWSKinesis/AWSFirehoseRecorder.m
  AWSKinesis/AWSKinesisRecorder.m
  CHANGELOG.md
Labels: Core, Pull Request

#2971 chore: Add AWSAllTestsHost to AWSAllTests target
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  CircleciScripts/bump_sdk_version.py
Labels: Build

#2980 chore: Update Cognito ASF version
  AWSCognitoAuth.podspec
  AWSCognitoIdentityProvider.podspec
  AWSCognitoIdentityProviderASF.podspec
Labels: Core, Pull Request
