Repository aws-amplify/aws-sdk-ios, pull requests merged in 2020-09, with the labels that each got.

#2997 Revert "feat(AWSSESv2): update models to latest (#2955)"
  AWSElasticLoadBalancingTests/AWSElasticLoadBalancingTests.m
  AWSSES/AWSSESModel.h
  AWSSES/AWSSESModel.m
  AWSSES/AWSSESResources.m
  AWSSES/AWSSESService.h
  AWSSES/AWSSESService.m
  AWSSESUnitTests/AWSGeneralSESTests.m
Labels: Pull Request, SES

#2910 feat(pinpoint): deprecate handler argument in intercept notification methods
  AWSPinpoint/AWSPinpointNotificationManager.h
  AWSPinpoint/AWSPinpointNotificationManager.m
Labels: Pinpoint

#3039 fix: Fix dependency declarations and linking for all targets
  .circleci/config.yml
  AWSAuthSDK/AWSAuthSDK.xcodeproj/project.pbxproj
  AWSAuthSDK/Sources/AWSAppleSignIn/Info.plist
  AWSCognitoAuth.podspec
  AWSCognitoIdentityProvider.podspec
  AWSCognitoIdentityProviderASF.podspec
  AWSCognitoIdentityProviderASF/Info.plist
  AWSCognitoIdentityProviderASF/Internal/libAWSCognitoIdentityProviderASFBinary.a
  AWSFacebookSignIn.podspec
  AWSGoogleSignIn.podspec
  AWSLex.podspec
  AWSMobileClient.podspec
  AWSUserPoolsSignIn.podspec
  AWSiOSSDKv2.xcodeproj/project.pbxproj
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSAllTests.xcscheme
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSAllUnitTests.xcscheme
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/AWSResource.xcscheme
  AWSiOSSDKv2.xcodeproj/xcshareddata/xcschemes/Documentation.xcscheme
  CHANGELOG.md
  CircleciScripts/bump_sdk_version.py
  CircleciScripts/carthage-build.sh
  CircleciScripts/generate_documentation.sh
  Scripts/setup_private_specs.sh
Labels: Build, Core

#3051 chore: Fix bump version job to use macos image
  .circleci/config.yml
Labels: Build, Pull Request
