Repository aws-amplify/aws-sdk-ios, pull requests merged in 2020-10, with the labels that each got.

#3085 chore: Support Xcode 12.0.1 for Carthage build
  CircleciScripts/carthage-build.sh
Labels: Build, Pull Request

#3139 chore: Update carthage build script with latest Xcode builds
  AWSLex.podspec
  CircleciScripts/carthage-build.sh
Labels: Build

#2928 Fix updated claims that contain special characters, such as chinese c…
  AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift
Labels: bug, mobile client

#3142 feat(Pinpoint): support for adding user attributes to PinpointEndpointProfileUser
  AWSPinpoint/AWSPinpointEndpointProfile.h
  AWSPinpoint/AWSPinpointEndpointProfile.m
  AWSPinpoint/AWSPinpointTargetingClient.m
Labels: pinpoint

#3177 fix(readme): AWSTask readme linking error
  README.md
Labels: documentation
